[submodule "xeno"]
	path = xeno
        url = https://github.com/mgajda/xeno.git
        branch = master
[submodule "iso8601-duration"]
	path = iso8601-duration
        url = https://github.com/mgajda/iso8601-duration.git

