stages:
  - build

buildTypelift:  # A job to build the static website - replace it with your build methods
  image: "migamake/haskell-build:8.6.2"
  stage: build
  variables:
    LC_ALL: C.UTF-8
  before_script:
    - stack --version
    - echo ${CI_COMMIT_REF_SLUG}
  script:
    # temporary remove cache
    - stack install --system-ghc
    - stack build
    - stack test
    # check that application is working and output some reasonable
    # - stack run xml-typelift-cli -- test/customersOrders.xsd > test.hs
    - stack exec -- xml-typelift-cli test/customersOrders.xsd > test.hs
    - grep "^data Customers =" test.hs
    - stack exec -- ghc test.hs
    # check that benchmarks is working (but limit for 10 minutes only because of slow benchmarking)
    - stack bench xml-typelift --no-run-benchmarks
    - timeout 10m stack bench xml-typelift
  cache:
    paths:
      - .stack-work

